@font-face {
font-family: 'IranNastaliq';
src: url('IranNastaliq.ttf') format('truetype');
}

@font-face {
font-family: 'BZar';
src: url('BZar.eot') format('eot'),
url('BZar.ttf') format('truetype'),
url('BZar.woff') format('woff');
}

@font-face {
font-family: 'FiolexGirls';
src: url('FiolexGirls.ttf') format('truetype');
}
