body {
    margin: 0;
    padding: 0;
    background-color: #F6E7E9;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    color: deeppink;
    text-align: center;
    font-family: IranNastaliq,'IranNastaliq',tahoma;
    font-size: 50px;
    padding: 10px 0 30px 0;
}

.imageHeader {
    width: 100%;
    height: 800px;
    background-image: url(Images/Love%20Header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mainText {
    width: 60%;
    margin: -20% 15% 10% 15%;
    height: 750px;
    background-color: white;
    text-align: right;
    padding-right: 10%;
    font-family: BZar, 'BZar', tahoma;
    font-size: 25px;
    line-height: 1.2em;
    color: #DE264C;
}

.mainText img {
    margin-right: 35%;
    width: 90px;
    height: 90px;
}

#firstp {
    padding-top: 10%;
}

#firstb, #secondb {
    margin-right: 1.7em; 
}

#thirdb {
    margin-right: 3.4em; 
}

#fourthb {
    margin-right: 5.1em; 
}

#fifthb {
    margin-right: 6.8em; 
}

#mainp {
    margin-right: 6em;
    color: #BC0D35;
    font-size: 40px;
}

.today {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(162, 13, 30, 0.8), rgba(188, 13, 53, 0.7), rgba(222, 38, 76, 0.6), rgba(240, 120, 140, 0.5), rgba(246, 177, 195, 0.4), white), url(Images/Love%20Middle.jpg);
}

#love {
    font-family: FiolexGirls, 'FiolexGirls', serif;
    font-size: 120px;
    line-height: 1.2em;
    color: #DE264C;
    margin-left: 5%;
}

#somaie {
    font-family: FiolexGirls, 'FiolexGirls', serif;
    font-size: 250px;
    line-height: 0.1em;
    color: #DE264C;
    margin-left: 15%;
}

* {
    
}